body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 670px;
    grid-area: 20px;
    padding: 20px;
    background-color: rgb(178, 179, 182);
    border-radius: 30px;
    position: relative;
}
.display {
    max-width: 25vw;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(62, 62, 62);
    border-radius: 100px;
    color: rgb(240, 172, 82);
    font-size: 50px;
    position: absolute;
    top: 30px;
    text-align: right;
}
.row1,
.row5{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    max-width: 30vw;
    width: auto;
}
.clear,
.zero{
    width: 230px;
}
.row2,
.row3,
.row4{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    width: 700px;
}
.row1 {
    position: absolute;
    top: 140px;
}
.row2 {
    position: absolute;
    top: 250px;
}
.row2 button{
    width: 100px;
}
.row3 {
    position: absolute;
    top: 360px;
}
.row4 {
    position: absolute;
    top: 470px;
}
.row5{
    position: absolute;
    top: 580px;
}
button {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 172, 82);
    border-radius: 100px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.opeq {
    background-color: black;
    color: rgb(240, 172, 82);
    bottom: 0;
    width: 100px;
}
button:hover {
    color: white;
}

  
